<header>
  <mat-toolbar>
    <span>{{globeEmoji}} World population heatmap</span>

    <form id="search-city-form">
      <mat-form-field>
        <input type="text" placeholder="enter city" matInput [formControl]="searchControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option.name"
            (onSelectionChange)="onCitySelection(option.value)"
          >
            {{option.label}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-spinner *ngIf="isDataLoading" diameter="30"></mat-spinner>
    </form>
  </mat-toolbar>
</header>
