:host {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  width: 100%;

  mat-toolbar {
    display: grid;
    height: auto;
    grid-template-columns: auto 250px;
    padding: 8px 24px;

    @media screen and (max-width: 600px) {
      & {
        grid-template-columns: auto;
        gap: 10px;
      }
    }

    strong {
      font-size: larger;
    }

    #search-city-form {
      display: flex;
      flex-direction: row;
      justify-self: end;
      align-items: center;
      width: 250px;

      mat-form-field {
        flex: 1;
      }

      mat-spinner {
        margin-left: 15px;
      }
    }
  }
}
