div.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  margin: 0;
}

div[leaflet] {
  width: 100%;
  height: 100%;
}

#coordinates {
  position: absolute;

  top: 12px;
  left: 50px;
  z-index: 1000;

  padding: 8px;

  background: rgba(225, 225, 225, .8);
}
