<div leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  (leafletMapMoveEnd)="onMapMoveEnd($event)"
  (leafletMapZoomEnd)="onMapZoomEnd($event)"
  (leafletMouseMove)="onMouseMove($event)">
</div>
<div id="legend" class="map-overlay">
  <div>Lat: {{defaultLocation.lat | number}}</div>
  <div>Lng: {{defaultLocation.lng | number}}</div>
  <span>
    <div class="leaflet-marker-icon leaflet-div-icon leaflet-container"><strong>1234</strong></div>
    – population in selected area
  </span>
</div>
